# 配置服务
server:
  port: 8080

# spring 配置
spring:
  # 配置热部署
  devtools:
    restart:
      # 热部署生效
      enabled: true
      # 设置重启的目录
      additional-paths: src/main/java
      # classpath目录下的WEB-INF文件夹内容修改不重启
      exclude: WEB-INF/**

  # 配置 mysql 数据库
  datasource:
    # 指定数据库驱动
    driver-class-name: com.mysql.cj.jdbc.Driver
    # 数据库jdbc连接url地址
    url: jdbc:mysql://127.0.0.1:3306/likui
    # 数据库账号
    username: root
    password: melikui

  # 配置其他数据库
  data:
    # Mongodb 配置
    mongodb:
      host: 127.0.0.1
      port: 27017
      database: likui
    # Redis 配置
    redis:
      host: 127.0.0.1
      port: 6379
      database: 0
      # 读超时
      timeout: 3000
      # 连接超时
      connectTimeout: 5000
      # Lettuce连接池
      lettuce:
        pool:
          # 最小空闲连接
          min-idle: 5
          # 最大空闲连接
          max-idle: 10
          # 最大连接数
          max-active: 100
          # 连接分配应该阻塞的最大时间
          max-wait: 2000

# mybatis 配置
mybatis:
  # mapper.xml配置文件的路径
  mapper-locations: classpath:mapper/*.xml
  # type-aliases-package: com.today.App.entity
  # 打印 mysql 日志
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
